* {
    box-sizing: border-box;
}

header {
    color:mblack;
    font-size: 50px;
    letter-spacing: 1vmin;
    font-family: 'Delicious Handrawn', cursive;
}

h2 {
    font-size: 40px;
    color: black;
    font-family: 'Delicious Handrawn', cursive;

}

#markers {
    display: grid;
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
    margin-top: 1vmin;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 10vmin);
    grid-template-rows: repeat(3, 10vmin);
    gap: 1vmin;
    margin-top: -2vmin;
}

/* Circles/ markers */
#board>div {
    border: 0.1vmin solid blue;
    
}


/* Button Effect */
button {
    color: grey;
    border: 0.1vmin solid grey;
    border-radius: 2vmin;
    font-size: 4vmin;
    margin-top: 4vmin;
}

button:hover {
    color: white;
    background-color: darkgrey;
}

